### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [9]:
phrase = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
str_count_r = phrase.count("row")    # counts "row" (lower case 'r'), not "Row"
str_count_R = phrase.count("Row")    # counts "row" (lower case 'r'), not "Row"

print(f"There are",str_count_r,"occurances of 'row' (lower case r) in the phrase.")
print(f"There are",str_count_R,"occurances of 'Row' (upper case R) in the phrase.")

There are 4 occurances of 'row' (lower case r) in the phrase.
There are 2 occurances of 'Row' (upper case R) in the phrase.

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [11]:
name = input("Enter a name: ")
color = input("Enter a color: ")
animal = input("Enter a animal: ")

Enter a name: Spike
Enter a color: purple
Enter a animal: giraffe

In [16]:
print("{0} had a little {1}. It was {2} as snow. And everywhere that {0} went, the {1} was sure to go.".format(name, animal,color))
#print(f"{name} had a little {animal}. It was {color} as snow. And everywhere that {name} went, the {animal} was sure to go.")

Spike had a little giraffe. It was purple as snow. And everywhere that Spike went, the giraffe was sure to go.

3. Print 3.14159 in a scientific number notation

In [35]:
pi = 3.14159
print(f"{pi:e}")    # "e" denotes scientific notation

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [40]:
num = 3.1559
print(f"{num:.3f}")  # "3f" denotes float to 3 decimal places

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [46]:
num2 = 1589.92341
#print(f"{num:.3f}")
a=format(num2, '.8e')    #scientific number to the power of 3
print(a)

1.58992341e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [10]:
num3 = 39 
b1 = num3 // 32      # floor divide by 2^5 (32) gives most significant bit
rem1 = num3 % 32
b2 = rem1 // 16      # floor divide by 2^4 (16) gives next most significant bit
rem2 = rem1 % 16
b3 = rem2 // 8       # floor divide by 2^3 (8) gives next significant bit
rem3 = rem2 % 8
b4 = rem3 // 4       # floor divide by 2^2 (4) gives next significant bit
rem4 = rem3 % 4
b5 = rem4 // 2       # floor divide by 2^1 (2) gives next significant bit
rem5 = rem4 % 2
b6 = rem5 // 1       # floor divide by 2^0 (1) gives least significant bit

print(f"Binary value = {b1} {b2} {b3} {b4} {b5} {b6}")

a = bin(39)
print(f"Using the 'bin()' function, bin({num3}) = {a}")

Binary value = 1 0 0 1 1 1
Using the 'bin()' function, bin(39) = 0b100111

In [19]:
x = int(input())
y = int(input())
b = x * y
print(f"{x} * {y} = {(x * y)}")

73
12
73 * 12 = 876

In [49]:
x = 1 
y = 2 
z = y
y += x 
x = z 
print(x, y, z)

2 3 2

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [13]:
num4 = 39 
oct1 = num4 // 8      # floor divide by 2^4 (8) gives most significant bit
rem1 = num4 % 8

print(f"Using floor div (//) and modulo (%) operators, integer {num4} = {oct1} {r1} octal")
print(f"Using the 'oct()' function, oct({num4}) =",(oct(num4)))

Using floor div (//) and modulo (%) operators, integer 39 = 4 7 octal
Using the 'oct()' function, oct(39) = 0o47

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [14]:
num5 = 39     
h1 = 39 // 16   #floor divide 39 by 2^4 (16)
r1 = 39 % 16
print(f"Using floor div (//) and modulo (%) operators, integer {num5} = {h1} {r1} hex")
print(f"Using the 'hex()' function, {num5} =",(hex(num5)))

Using floor div (//) and modulo (%) operators, integer 39 = 2 7 hex
Using the 'hex()' function, 39 = 0x27

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [68]:
amount = float(input("Enter amount ($): "))
rate = float(input("Enter tax rate (%): "))

Enter amount ($): 347
Enyer tax rate (%): 7

In [69]:
tax_amt = amount * (rate/100)
total = amount + tax_amt
print(f"Amount:\t${amount:,.2f}\nRate:\t{rate:,.2f}%\nTax:\t${tax_amt:,.2f}\nTotal:\t${total:,.2f}")   # Nice !

Amount:	$347.00
Rate:	7.00%
Tax:	$24.29
Total:	$371.29